<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClassLengthLabel">Create or edit a Class Length</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!classLength.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="classLength.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_classLength">Class Length</label>
            <input type="number" class="form-control" name="classLength" id="field_classLength"
                [(ngModel)]="classLength.classLength" required min="30" max="60" />
            <div [hidden]="!(editForm.controls.classLength?.dirty && editForm.controls.classLength?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.classLength?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.classLength?.errors?.min">
                    This field should be at least 30.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.classLength?.errors?.max">
                    This field cannot be more than 60.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.classLength?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="classLength.active"  />
            <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.active?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_created">Created</label>
            <div class="d-flex">
                <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="classLength.created"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.created?.dirty && editForm.controls.created?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.created?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.created?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updated">Updated</label>
            <div class="d-flex">
                <input id="field_updated" type="datetime-local" class="form-control" name="updated" [(ngModel)]="classLength.updated"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
