<div>
    <h2>
        <span>Schedules</span>
        <button class="btn btn-primary float-right jh-create-entity create-schedule" [routerLink]="['/', { outlets: { popup: ['schedule-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Schedule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schedules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="availabilityId"><span>Availability Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span>Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span>End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedDate"><span>Updated Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span>Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="packageOrderId"><span>Package Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schedule of schedules ;trackBy: trackId">
                <td><a [routerLink]="['../schedule', schedule.id ]">{{schedule.id}}</a></td>
                <td>{{schedule.availabilityId}}</td>
                <td>{{schedule.startDate | date:'medium'}}</td>
                <td>{{schedule.endDate | date:'medium'}}</td>
                <td>{{schedule.status}}</td>
                <td>{{schedule.createdDate | date:'medium'}}</td>
                <td>{{schedule.updatedDate | date:'medium'}}</td>
                <td>{{schedule.amount}}</td>
                <td>
                    <div *ngIf="schedule.packageOrderId">
                        <a [routerLink]="['../package-order', schedule.packageOrderId  ]" >{{schedule.packageOrderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../schedule', schedule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="schedules && schedules.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
