<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAvailabilityLabel">Create or edit a Availability</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!availability.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="availability.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dayOfWeek">Day Of Week</label>
            <select class="form-control" name="dayOfWeek" [(ngModel)]="availability.dayOfWeek" id="field_dayOfWeek" >
                <option value="SUN">SUN</option>
                <option value="MON">MON</option>
                <option value="TUE">TUE</option>
                <option value="WED">WED</option>
                <option value="THU">THU</option>
                <option value="FRI">FRI</option>
                <option value="SAT">SAT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_booked">Booked</label>
            <input type="checkbox" class="form-control" name="booked" id="field_booked"
                [(ngModel)]="availability.booked"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="availability.active"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_effectiveDate">Effective Date</label>
            <div class="d-flex">
                <input id="field_effectiveDate" type="datetime-local" class="form-control" name="effectiveDate" [(ngModel)]="availability.effectiveDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_deactivatedDate">Deactivated Date</label>
            <div class="d-flex">
                <input id="field_deactivatedDate" type="datetime-local" class="form-control" name="deactivatedDate" [(ngModel)]="availability.deactivatedDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" name="profile" [(ngModel)]="availability.profileId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
