<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProfileSubjectLabel">Create or edit a Profile Subject</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!profileSubject.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="profileSubject.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_level">Level</label>
            <select class="form-control" name="level" [(ngModel)]="profileSubject.level" id="field_level" >
                <option value="BEGINNER">BEGINNER</option>
                <option value="INTERMEDIATE">INTERMEDIATE</option>
                <option value="ADVANCED">ADVANCED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="profileSubject.rate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sponsored">Sponsored</label>
            <input type="checkbox" class="form-control" name="sponsored" id="field_sponsored"
                [(ngModel)]="profileSubject.sponsored"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="profileSubject.active"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_totalRating">Total Rating</label>
            <input type="number" class="form-control" name="totalRating" id="field_totalRating"
                [(ngModel)]="profileSubject.totalRating"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" name="profile" [(ngModel)]="profileSubject.profileId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" [(ngModel)]="profileSubject.subjectId">
                <option [ngValue]="null"></option>
                <option [ngValue]="subjectOption.id" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
