<div>
    <h2>
        <span>Subject Levels</span>
        <button class="btn btn-primary float-right jh-create-entity create-subject-level" [routerLink]="['/', { outlets: { popup: ['subject-level-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Subject Level
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subjectLevels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Level</span></th>
            <th><span>Description</span></th>
            <th><span>Subject</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subjectLevel of subjectLevels ;trackBy: trackId">
                <td><a [routerLink]="['../subject-level', subjectLevel.id ]">{{subjectLevel.id}}</a></td>
                <td>{{subjectLevel.level}}</td>
                <td>
                    <a *ngIf="subjectLevel.description" (click)="openFile(subjectLevel.descriptionContentType, subjectLevel.description)">open</a>
                    <span *ngIf="subjectLevel.description">{{subjectLevel.descriptionContentType}}, {{byteSize(subjectLevel.description)}}</span>
                </td>
                <td>
                    <div *ngIf="subjectLevel.subjectId">
                        <a [routerLink]="['../subject', subjectLevel.subjectId  ]" >{{subjectLevel.subjectId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subject-level', subjectLevel.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject-level/'+ subjectLevel.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject-level/'+ subjectLevel.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
