<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <jhi-alert-error></jhi-alert-error>
                <h2>
                    <span>
                        <p class="font-weight-bold">Profile</p>
                    </span>
                </h2>
                <br>
                <!-- <div class="form-group">
                    <label class="form-control-label" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                        [(ngModel)]="profile.userId" required />
                    <div [hidden]="!(editForm.controls.userId?.dirty && editForm.controls.userId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.userId?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.userId?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description" [(ngModel)]="profile.description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + profile.imageContentType + ';base64,' + profile.image" style="max-height: 100px;" *ngIf="profile.image"
                            alt="profile image" />
                        <div *ngIf="profile.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{profile.imageContentType}}, {{byteSize(profile.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, profile, 'image', true)" accept="image/*" />
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image" [(ngModel)]="profile.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType" [(ngModel)]="profile.imageContentType"
                    />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_video1">Video 1</label>
                    <div>
                        <div *ngIf="profile.video1" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(profile.video1ContentType, profile.video1)">open</a>
                            <br>
                            <span class="pull-left">{{profile.video1ContentType}}, {{byteSize(profile.video1)}}</span>
                            <button type="button" (click)="profile.video1=null;profile.video1ContentType=null;" class="btn btn-secondary btn-xs pull-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                        <input type="file" id="file_video1" (change)="setFileData($event, profile, 'video1', false)" />
                    </div>
                    <input type="hidden" class="form-control" name="video1" id="field_video1" [(ngModel)]="profile.video1" />
                    <input type="hidden" class="form-control" name="video1ContentType" id="field_video1ContentType" [(ngModel)]="profile.video1ContentType"
                    />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_video2">Video 2</label>
                    <div>
                        <div *ngIf="profile.video2" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(profile.video2ContentType, profile.video2)">open</a>
                            <br>
                            <span class="pull-left">{{profile.video2ContentType}}, {{byteSize(profile.video2)}}</span>
                            <button type="button" (click)="profile.video2=null;profile.video2ContentType=null;" class="btn btn-secondary btn-xs pull-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                        <input type="file" id="file_video2" (change)="setFileData($event, profile, 'video2', false)" />
                    </div>
                    <input type="hidden" class="form-control" name="video2" id="field_video2" [(ngModel)]="profile.video2" />
                    <input type="hidden" class="form-control" name="video2ContentType" id="field_video2ContentType" [(ngModel)]="profile.video2ContentType"
                    />
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" for="field_backgroundChecked">Background Checked</label>
                    <input type="checkbox" class="form-control" name="backgroundChecked" id="field_backgroundChecked"
                        [(ngModel)]="profile.backgroundChecked"  />
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city" [(ngModel)]="profile.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state" [(ngModel)]="profile.state" maxlength="2" />
                    <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.state?.errors?.maxlength">
                            This field cannot be longer than 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country" [(ngModel)]="profile.country" maxlength="3" />
                    <div [hidden]="!(editForm.controls.country?.dirty && editForm.controls.country?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.country?.errors?.maxlength">
                            This field cannot be longer than 3 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_timeZone">Time Zone</label>
                    <select class="form-control" name="timeZone" [(ngModel)]="profile.timeZone" id="field_timeZone">
                        <option value="IST">IST</option>
                        <option value="CST">CST</option>
                        <option value="PST">PST</option>
                        <option value="EST">EST</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_language">Language</label>
                    <select class="form-control" id="field_language" multiple name="language" [(ngModel)]="profile.languages">
                        <option [ngValue]="getSelected(profile.languages, languageOption)" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.id}}</option>
                    </select>
                </div>

                <div class=" d-flex flex-row-reverse">
                    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <span class="fa fa-save"></span>&nbsp;
                        <span>Next</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <!-- for showing details about the rate -->
            <div class="card text-white bg-secondary mt-10 ml-3 ">
                <div class="card-header">Fact Checks!!!</div>
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <p class="card-text">- Well documented profile with good description helps you in finding your next student.</p>
                    <p class="card-text">- Describying your passion and love for the subject will provide students the connection. </p>
                </div>
            </div>
        </div>
    </div>
</div>