
<div *ngIf="creditCardPayment">
    <h2><span>Credit Card Payment</span> {{creditCardPayment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Cc Type</span></dt>
        <dd>
            <span>{{creditCardPayment.ccType}}</span>
        </dd>
        <dt><span>Last Four</span></dt>
        <dd>
            <span>{{creditCardPayment.lastFour}}</span>
        </dd>
        <dt><span>Card Name</span></dt>
        <dd>
            <span>{{creditCardPayment.cardName}}</span>
        </dd>
        <dt><span>Payment Number</span></dt>
        <dd>
            <span>{{creditCardPayment.paymentNumber}}</span>
        </dd>
        <dt><span>Payment</span></dt>
        <dd>
            <div *ngIf="creditCardPayment.paymentId">
                <a [routerLink]="['/payment', creditCardPayment.paymentId]">{{creditCardPayment.paymentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'credit-card-payment/'+ creditCardPayment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
