
<div *ngIf="review">
    <h2><span>Review</span> {{review.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Rating</span></dt>
        <dd>
            <span>{{review.rating}}</span>
        </dd>
        <dt><span>Comments</span></dt>
        <dd>
            <span>{{review.comments}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{review.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{review.userId}}</span>
        </dd>
        <dt><span>Profile Subject</span></dt>
        <dd>
            <div *ngIf="review.profileSubjectId">
                <a [routerLink]="['/profile-subject', review.profileSubjectId]">{{review.profileSubjectId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'review/'+ review.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
