<div>
    <h2>
        <span>Paypal Payments</span>
        <button class="btn btn-primary float-right jh-create-entity create-paypal-payment" [routerLink]="['/', { outlets: { popup: ['paypal-payment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Paypal Payment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paypalPayments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Paypal Payer Id</span></th>
            <th><span>Paypal Payer Email Id</span></th>
            <th><span>Payer First Name</span></th>
            <th><span>Payer Last Name</span></th>
            <th><span>Payment Number</span></th>
            <th><span>Payment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paypalPayment of paypalPayments ;trackBy: trackId">
                <td><a [routerLink]="['../paypal-payment', paypalPayment.id ]">{{paypalPayment.id}}</a></td>
                <td>{{paypalPayment.paypalPayerId}}</td>
                <td>{{paypalPayment.paypalPayerEmailId}}</td>
                <td>{{paypalPayment.payerFirstName}}</td>
                <td>{{paypalPayment.payerLastName}}</td>
                <td>{{paypalPayment.paymentNumber}}</td>
                <td>
                    <div *ngIf="paypalPayment.paymentId">
                        <a [routerLink]="['../payment', paypalPayment.paymentId  ]" >{{paypalPayment.paymentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../paypal-payment', paypalPayment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paypal-payment/'+ paypalPayment.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paypal-payment/'+ paypalPayment.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
